/* =========================== 
        Global Styles          
=============================*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.button-primary {
  border: none;
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 1234px;
  background: #4f46e5;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  cursor: pointer;
}

.button-outlined {
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  cursor: pointer;
}

/* =========================== 
            Navbar          
=============================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #475569;
  line-height: 22px;
  letter-spacing: -0.112px;
  padding: 16px 0;
}

nav img {
  margin-top: 12px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
}

.navbar-end {
  display: flex;
  gap: 8px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

/* ===========================================
          Hero Section                        
=============================================== */
.hero {
  background: linear-gradient(
    180deg,
    rgba(79, 70, 229, 0) 70%,
    rgba(79, 70, 229, 0.9) 100%
  );
  margin: 96px 0 0 0;
}
.hero h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.hero h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px auto;
  max-width: 800px;
}

.hero p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
}

.download-buttons {
  width: fit-content;
  margin: 48px auto;
  display: flex;
  gap: 8px;
}

/* ============================================ 
            brand logo section
===============================================*/
.branding {
  background: #f8fafc;
}

.branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 64px;
  padding: 64px 172px;
  /* max-width: 900px; */
}

.logo {
  flex: 1 0 120px;
  max-width: 120px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ============================================ 
            Features section
===============================================*/
.features {
  margin: 96px 0;
}

.features-container {
  margin-bottom: 64px;
}

.features h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.features h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.features p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
  margin: auto;
}

.features-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.feature-card {
  text-align: center;
}

.feature-card img {
  width: 80px;
  height: 80px;
}

.feature-card h2 {
  align-self: stretch;
  color: #1e293b;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.feature-card p {
  align-self: stretch;
  color: #475569;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

/* ============================================ 
            Stats section
===============================================*/
.stats {
  background: #f8fafc;
  padding: 64px 0;
}

.stats-container {
  text-align: center;
}

.stats-container .imgIcon {
  margin: auto;
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 123px;
  background: #eef2ff;
}

.stats-container .imgIcon > img {
  height: 28px;
  width: 28px;
  object-fit: contain;
}

.stats-container > h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.stats-container > p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
  margin: auto;
}

.stats-container .stats-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 64px;
}

.stats-counter-card h2 {
  align-self: stretch;
  color: #4f46e5;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 0 32px 16px 32px;
}

.stats-counter-card p {
  align-self: stretch;
  color: #475569;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.144px;
}

.stats-counter > .line {
  width: 2px;
  height: 108px;
  background: #cbd5e1;
}

/* ============================================ 
            About section
===============================================*/
.about-container {
  margin: 96px 0;
}
.about-container > h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.about-container > h2 {
  align-self: stretch;
  color: #1e293b;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.about-container > p {
  align-self: stretch;
  color: #475569;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
}

.features-us {
  margin-top: 64px;
  display: flex;
}

.leftFeaturesCard {
  padding: 24px;
  border-left: 4px solid #cbd5e1;
  margin-bottom: 24px;
}

.leftFeaturesCard:nth-child(1) {
  border-left: 4px solid #4f46e5;
}

.leftFeaturesCard h2 {
  align-self: stretch;
  color: #475569;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.leftFeaturesCard p {
  align-self: stretch;
  color: #475569;
  font-weight: 400;
  line-height: 160%;
}

.rightContents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.features-us img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ============================================ 
            testimonials section
===============================================*/
.testimonials {
  background: #f8fafc;
  padding: 64px 0;
}

.testimonial-container > h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.testimonial-container > h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.testimonial-container > p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
  margin: auto;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 64px 0;
}

.tetimonial-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
}

.tetimonial-card > p {
  align-self: stretch;
  color: #475569;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 24px 0;
}

.userDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.userDetails-text > h2 {
  color: #1e293b;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
}

.userDetails-text > p {
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* ============================================ 
            Office section
===============================================*/
.office {
  padding: 64px 0;
}

.office-container > h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.office-container > h2 {
  align-self: stretch;
  color: #1e293b;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.office-container > p {
  align-self: stretch;
  color: #475569;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
}

.office-card-container {
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.office-location-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 24px;
  border: 1px solid #e2e8f0;
}

.office-location-card > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.office-location-card > h2 {
  align-self: stretch;
  color: #1e293b;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.office-location-card > p {
  align-self: stretch;
  color: #1e293b;
  line-height: 160%;
}

/* ============================================ 
            FAQ section
===============================================*/

.faq {
  padding: 96px 0;
  background: #f8fafc;
}

.faq-section > h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.faq-section > h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.faq-section > p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 48px;
}

.faq-container {
  padding: 0 100px;
}

.faq-item {
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s;
}
.faq-item:hover {
  background: #f1f5f9;
}
.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #334155;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.112px;
}
.faq-answer {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-top: 10px;
}
.faq-item.active .faq-answer {
  max-height: 200px;
}
.icon {
  margin-right: 10px;
  font-size: 1.2em;
  color: #6b7280;
}

/* ============================================ 
            Download section
===============================================*/
.download {
  padding: 64px 112px 0 112px;
  background: #eef2ff;
}

.container {
  position: relative;
  overflow: hidden;
}

.download-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftInfo {
  flex: 1;
  margin-bottom: 64px;
}

.leftInfo h2 {
  font-size: 2.5rem;
  color: #111827;
  margin-bottom: 20px;
}

.leftInfo p {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 30px;
  max-width: 500px;
}

.more-button {
  gap: 10px;
  border-radius: 1234px;
  border: 1px solid #4f46e5;
  background: none;
  color: #4f46e5;
}

.rightImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone1 {
  position: absolute;
  top: 100px;
  right: 100px;
}
.phone2 {
  position: absolute;
  top: 50px;
  right: -50px;
}

/* ============================================ 
            Footer section
===============================================*/
.footer {
  display: flex;
  padding: 96px 112px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  background: #f8fafc;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 100px;
  padding: 20px;
}

.footer-column h4 {
  align-self: stretch;
  color: #1e293b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  align-self: stretch;
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.112px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-column ul li:hover {
  text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px 0;
  width: 100%;
}

.footer-bottom .logo img {
  width: 100px;
  margin: 2px;
}

.footer-bottom .scroll-top button {
  background: #e0e7ff;
  border: none;
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
}

.footer-bottom .scroll-top button:hover {
  background-color: #6366f1;
  color: white;
}

/* ============================================ 
            Responsive query section
===============================================*/

/* Medium screens (tablet) */
@media (max-width: 768px) {
  /* Navbar */
  .navbar-mid {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  /* branded logos */
  .brand-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 44px 22px;
  }
  /* Features  */
  .features-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  /* stats */
  .stats-container .stats-counter {
    flex-direction: column;
  }

  .stats-counter > .line {
    transform: rotate(90deg);
  }
  /* about */
  .features-us {
    flex-direction: column;
  }
  /* testimonials */
  .testimonials-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  /* office */
  .office-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* faq */
  .faq-container {
    padding: 0 50px;
  }
  /* download */
  .download {
    padding: 64px 12px 0 12px;
    margin-bottom: 96px;
    background: #eef2ff;
  }

  .download-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .download-buttons-container > button {
    width: 100%;
  }

  .download-container {
    flex-direction: column;
    align-items: center;
    min-height: 800px;
  }
  .phone1 {
    position: absolute;
    left: 40px;
    top: 400px;
  }
  .phone2 {
    position: absolute;
    top: 300px;
    right: 40px;
  }
  /* footer */
  .footer {
    padding: 12px;
  }
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}

/* Small screens (mobile) */
@media (max-width: 576px) {
  /* hero */
  .hero h2 {
    font-size: 36px;
  }
  /* branded logos */
  .brand-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4px 2px;
  }
  /* Features  */
  .features-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  /* testimonials */
  .testimonials-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  /* office */
  .office-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* faq */
  .faq-container {
    padding: 0 20px;
  }
  /* download */
  .phone1 {
    position: absolute;
    left: 20px;
    top: 550px;
    height: auto;
    width: 150px;
  }
  .phone2 {
    position: absolute;
    top: 500px;
    right: 20px;
    height: auto;
    width: 150px;
  }
  /* footer */
  .footer {
    padding: 4px;
  }
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
  }
}
