/* =========================== 
        Global Styles          
=============================*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.button-primary {
  border: none;
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 1234px;
  background: #4f46e5;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  cursor: pointer;
}

.button-outlined {
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  cursor: pointer;
}

/* =========================== 
            Navbar          
=============================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #475569;
  line-height: 22px;
  letter-spacing: -0.112px;
  padding: 16px 0;
}

nav img {
  margin-top: 12px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
}

.navbar-end {
  display: flex;
  gap: 8px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

/* ===========================================
          Hero Section                        
=============================================== */
.hero {
  background: linear-gradient(
    180deg,
    rgba(79, 70, 229, 0) 70%,
    rgba(79, 70, 229, 0.9) 100%
  );
  margin: 96px 0;
}
.hero h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.hero h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.hero p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
}

.download-buttons {
  width: fit-content;
  margin: 48px auto;
  display: flex;
  gap: 8px;
}

/* ============================================ 
            brand logo section
===============================================*/
.branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 64px;
  padding: 64px 172px;
  /* max-width: 900px; */
}

.logo {
  flex: 1 0 120px;
  max-width: 120px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ============================================ 
            Responsive query section
===============================================*/

/* Medium screens (tablet) */
@media (max-width: 768px) {
  /* Navbar */
  .navbar-mid {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  /* branded logos */
  .brand-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 44px 22px;
  }
}

/* Small screens (mobile) */
@media (max-width: 576px) {
  /* branded logos */
  .brand-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4px 2px;
  }
}
