/* =========================== 
        Global Styles          
=============================*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.button-primary {
  border: none;
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 1234px;
  background: #4f46e5;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  cursor: pointer;
}

.button-outlined {
  min-height: 48px;
  padding: 12px 20px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  cursor: pointer;
}

/* =========================== 
            Navbar          
=============================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #475569;
  line-height: 22px;
  letter-spacing: -0.112px;
  padding: 16px 0;
}

nav img {
  margin-top: 12px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
}

.navbar-end {
  display: flex;
  gap: 8px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

/* ===========================================
          Hero Section                        
=============================================== */
.hero {
  background: linear-gradient(
    180deg,
    rgba(79, 70, 229, 0) 70%,
    rgba(79, 70, 229, 0.9) 100%
  );
  margin: 96px 0 0 0;
}
.hero h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.hero h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
  max-width: 800px;
}

.hero p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
}

.download-buttons {
  width: fit-content;
  margin: 48px auto;
  display: flex;
  gap: 8px;
}

/* ============================================ 
            brand logo section
===============================================*/
.branding {
  background: #f8fafc;
}

.branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 64px;
  padding: 64px 172px;
  /* max-width: 900px; */
}

.logo {
  flex: 1 0 120px;
  max-width: 120px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ============================================ 
            Features section
===============================================*/
.features {
  margin: 96px 0;
}

.features-container {
  margin-bottom: 64px;
}

.features h5 {
  display: flex;
  width: fit-content;
  padding: 6px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1234px;
  background: #eef2ff;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.features h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.features p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
  margin: auto;
}

.features-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.feature-card {
  text-align: center;
}

.feature-card img {
  width: 80px;
  height: 80px;
}

.feature-card h2 {
  align-self: stretch;
  color: #1e293b;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.feature-card p {
  align-self: stretch;
  color: #475569;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

/* ============================================ 
            Stats section
===============================================*/
.stats {
  background: #f8fafc;
  padding: 64px 0;
}

.stats-container {
  text-align: center;
}

.stats-container .imgIcon {
  margin: auto;
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 123px;
  background: #eef2ff;
}

.stats-container .imgIcon > img {
  height: 28px;
  width: 28px;
  object-fit: contain;
}

.stats-container > h2 {
  align-self: stretch;
  color: #1e293b;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.stats-container > p {
  align-self: stretch;
  color: #475569;
  text-align: center;
  font-size: 18px;
  line-height: 160%;
  max-width: 800px;
  margin: auto;
}

.stats-container .stats-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 64px;
}

.stats-counter-card h2 {
  align-self: stretch;
  color: #4f46e5;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 0 32px 16px 32px;
}

.stats-counter-card p {
  align-self: stretch;
  color: #475569;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.144px;
}

.stats-counter > .line {
  width: 2px;
  height: 108px;
  background: #cbd5e1;
}

/* ============================================ 
            Responsive query section
===============================================*/

/* Medium screens (tablet) */
@media (max-width: 768px) {
  /* Navbar */
  .navbar-mid {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  /* branded logos */
  .brand-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 44px 22px;
  }
  /* Features  */
  .features-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  /* stats */
  .stats-container .stats-counter {
    flex-direction: column;
  }

  .stats-counter > .line {
    transform: rotate(90deg);
  }
}

/* Small screens (mobile) */
@media (max-width: 576px) {
  /* branded logos */
  .brand-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4px 2px;
  }
  /* Features  */
  .features-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
